FiberHost = "localhost"
FiberPort = root

DB_HOST = "localhost"
DB_PORT = root
DB_NAME = "databasename"
DB_USER = "username"
DB_PASSWORD = "yourpassword"
SSlmode = "disable"
SECRET_KEY = "Your secret key"